<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenue, <span id="username">{{ username }}</span></h1>
        <a href="{{ url_for('logout') }}" id="logoutButton" class="fixed-color-button">Déconnexion</a>
    </header>
    <main>
        <div class="form-group fixed-color">
            <label for="image_index">Entrez le numéro de l'image (0-999):</label>
            <input type="number" id="image_index" name="image_index" class="fixed-color" min="0" max="999">
            <p id="imageIndexError" style="color: yellow; display: none;">Le numéro de l'image doit être compris entre 0 et 999.</p>
        </div>
        
        <div id="imagePreview" class="form-group" style="display: none;">
            <h3>Image Choisie:</h3>
            <img id="chosenImage" src="" alt="Image Choisie" class="fixed-color">
        </div>
        
        <div class="form-group fixed-color">
            <label for="numNeighbors">Choix nombre voisin (1-1000):</label>
            <input type="number" id="numNeighbors" name="numNeighbors" class="fixed-color" min="1" max="1000">
            <p id="numNeighborsError" style="color: yellow; display: none;">Le nombre de voisins doit être compris entre 1 et 1000.</p>
        </div>
        
        <div class="form-group fixed-color">
            <label for="model">Choix modèles:</label>
            <select id="model" name="model" class="fixed-color">
                <option value="VGG16">VGG16</option>
                <option value="DenseNet121">DenseNet121</option>
                <option value="EfficientNetB0">EfficientNetB0</option>
            </select>
        </div>
        
        <div class="form-group fixed-color">
            <label for="distance">Choix distance:</label>
            <select id="distance" name="distance" class="fixed-color">
                <option value="euclideanDistance">Euclidean</option>
                <option value="chiSquareDistance">Chi-square</option>
                <option value="bhatta">Bhattacharyya</option>
            </select>
        </div>
        
        <button id="searchButton" class="fixed-color-button">Lancer la recherche</button>
        
        <div id="loadingSpinner" class="spinner" style="display: none;">
            <img src="{{ url_for('static', filename='spinner.gif') }}" alt="Loading...">
        </div>
    </main>
    
    <div id="results" style="display: none;">
        <h2>Résultats de la recherche</h2>
        <div id="graph">
            <img id="rpImage" src="" alt="RP Graph" style="display:none;">
        </div>
        <div id="topResults"></div>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
