body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Permet une disposition en colonne */
    align-items: center; /* Centre horizontalement le conteneur principal */
    min-height: 100vh; /* Assure que le conteneur prend toute la hauteur de la vue */
    margin: 0;
    padding: 0;
    background: linear-gradient(-25deg, #013220 0%, #3a78b7 50%, #262626 50%, #607d8d 100%); /* Définit un dégradé statique */
    color: white; /* Assure que le texte est blanc */
    padding-bottom: 50px; /* Ajoute du padding en bas pour s'assurer que l'image à la dernière ligne est visible */
}

header {
    padding: 20px;
    text-align: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre tous les enfants du conteneur verticalement */
    text-align: center; /* Centre le texte */
    width: 100%;
    max-width: 600px; /* Limite la largeur maximale du conteneur principal */
    padding: 20px;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    margin: 0 auto; /* Centre le conteneur principal horizontalement */
    background: rgba(255, 255, 255, 0.1); /* Ajoute un fond transparent pour les éléments principaux */
    border-radius: 6px; /* Ajoute des coins arrondis */
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2); /* Ajoute une ombre autour du conteneur */
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    margin-bottom: 5px;
    color: white; /* Assure que le texte des labels est blanc */
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
    text-align: center;
    color: black; /* Fixe la couleur du texte */
    background: rgba(255, 255, 255, 0.9); /* Fixe la couleur de fond */
    border: 1px solid #ccc; /* Ajoute une bordure grise */
    border-radius: 5px; /* Ajoute un léger arrondi aux bords */
}

button {
    background-color: #007bff; /* Fixe la couleur de fond du bouton */
    color: white;
    border: none;
    cursor: pointer;
    max-width: 300px;
}

button:hover {
    background-color: #0056b3; /* Change la couleur de fond du bouton au survol */
}

#results {
    margin-top: 20px;
    width: 100%; /* Assurez-vous que le conteneur des résultats prend toute la largeur */
    text-align: center;
    padding-bottom: 50px; /* Ajoute du padding en bas pour s'assurer que l'image à la dernière ligne est visible */
}

#topResults {
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne des images */
    justify-content: center; /* Centre les images horizontalement */
    width: 100%; /* Assurez-vous que le conteneur des images prend toute la largeur */
}

#topResults .result-container {
    display: flex;
    flex-direction: column; /* Aligne l'image et la légende verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: center; /* Centre les éléments verticalement */
    flex: 0 1 11.5%; /* Ajuste la largeur maximale du conteneur pour avoir 8 images par ligne */
    margin: 5px;
}

#topResults img.result-image {
    width: 100%; /* Ajuste la largeur de l'image à 100% du conteneur */
    border-radius: 5px; /* Ajoute un léger arrondi aux bords des images */
    object-fit: contain; /* Maintient les proportions de l'image */
    border: 1px solid #ccc; /* Ajoute une bordure légère aux images */
    margin-bottom: 5px; /* Ajoute un espace entre l'image et le texte */
}

#topResults .result-container p {
    text-align: center; /* Centre le texte horizontalement */
    margin: 0; /* Supprime les marges par défaut */
    color: white; /* Assure que le texte est blanc */
}

#graph {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

#graph img {
    max-width: 70%; /* Ajuste la largeur maximale de l'image du graphique */
    border-radius: 5px; /* Ajoute un léger arrondi aux bords de l'image */
    border: 1px solid #ccc; /* Ajoute une bordure légère à l'image */
}

#chosenImage {
    max-width: 100%;
    max-height: 300px; /* Limite la hauteur de l'image */
    margin-top: 15px;
    border: 1px solid #ccc; /* Ajoute une bordure grise */
    border-radius: 8px; /* Ajoute un léger arrondi aux bords de l'image */
    object-fit: contain; /* Maintenir les proportions de l'image */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: none; /* Empêche le filtre d'affecter l'image */
    background-color: white; /* Ajoute un fond blanc pour empêcher la teinte */
}
